services:
  db:
    image: postgres:16.1
    container_name: share
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=12345
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

  shareIt-gateway:
    image: nginx:latest
    ports:
      - "8080:8080"
    depends_on:
      - db

  shareIt-server:
    image: circleci/openjdk:latest
    ports:
      - "9090:9090"
    depends_on:
      - db
